body{
    background-image: url("../IMG/BC.jpeg");
    background-size: cover;
}
#MainImg{
 /* width: 70%;
 margin-left: 15%; */
 margin-top: 10px;
 height: auto;
 max-width: 100%;
 /* height: 50vh; */
}

#TituloPareja{
    margin: 0px;
    padding: 0px;
    font-family: 'Great Vibes', cursive;
    margin-top: 10%;
}




#Dia{
    font-size: 50px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    margin: 0px;
    margin-top: 10%;
}

.ADDR{
    font-family: 'Tiro Tamil', cursive;
    /* margin: 0px;
    margin-top: 10%; */
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }


.material-icons{
    color: black;
}

.opacity{
    opacity: .75;
}